<h2>Parking Status</h2><p class="pull-left">logged in as member #: {{memberNo}}</p><button class="btn btn-default pull-right" ng-click="logOut()">log out</button>
<p class="clear pull-left">current time: <span class="time-left">{{ clock  | date:"hh:mm a"}}</span></p>
<div class="alert errors clear pull-left">{{errorMessage}}</div>
<div id="parking-spaces" class="clear">
	<div class="left-column">
		<div class="space" ng-class="{true:'',false:'open'}[space.taken]" ng-repeat="space in spaces | orderBy: 'position'"><button ng-hide="space.taken" ng-click="showTimeChoice(space)">Park Here</button><div class="car"><button class="leave" ng-show="isUser(space)" ng-click="unPark(space)">Leave</button></div><h4 class="position pull-right">{{space.position}}</h4><p class="timeLeave pull-right">{{space.timeLeave | date: "hh:mm a"}}</p></div>
	</div>
	<div class="time-select" ng-show="selecting">
		<h3>Choose the duration of your stay:</h3>
		<form class="timeLeave" ng-submit="leaveCalc()">
			<div class="input-group">
				<label for="1hr"><input type="radio" class="clear" name="1hr" value="1" ng-model="duration">1 hour</label>
				<label for="2hr"><input type="radio" class="clear" name="2hr" value="2" ng-model="duration">2 hours</label>
				<label for="3hr"><input type="radio" class="clear" name="3hr" value="3" ng-model="duration">3 hours</label>
				<label for="4hr"><input type="radio" class="clear" name="4hr" value="4" ng-model="duration">4 hours</label>
				<label for="5hr"><input type="radio" class="clear" name="5hr" value="5" ng-model="duration">5 hours</label>
				<label for="6hr"><input type="radio" class="clear" name="6hr" value="6" ng-model="duration">6 hours</label>
				<label for="24hr"><input type="radio" class="clear" name="24hr" value="24" ng-model="duration">24 hours</label>
				<button type="submit" class="btn btn-submit clear pull-left">submit</button>
			</div>
		</form>
		
	</div>
	<p>{{parkMessage}}</p>
	<div class="clear"></div>
</div>